<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>



    <div class="jumbotron jumbotron-fluid jumbotron-with-background" id="jumbotron" style="background-image:url(https://cdn.wallpaper.com/main/styles/fp_922x565/s3/06_alex-hotel-perth.jpg); background-size: cover; width: 100%; height: 100%; background-position:center">
        <div class="container-fluid">
            <div class="form-control" id="form">
                <form class="form-inline" action="/action_page.php">
                    <label for="entrada">Entrada:</label>
                    <input type="date" class="form-control" id="entrada">

                    <label for="saida">Saída:</label>
                    <input type="date" class="form-control" id="saida">

                    <label for="adultos">Adultos:</label>
                    <input type="number" class="form-control" id="adultos">

                    <label for="criancas">Crianças (2-12):</label>
                    <input type="number" class="form-control" id="criancas">

                    <label for="bbs">Bebês:</label>
                    <input type="number" class="form-control" id="bbs">

                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </form>
            </div>
        </div>
        <div>
            <div>

            </div>
        </div>







    </div>




</body>
</html>
